---
import "../../styles/global.css";
import OurMission from "../OurMission.astro";
---
<section
  class="relative w-full h-screen flex items-center text-center text-white bg-cover bg-center flex-col"
>
  <div class="max-w-lg z-10">

    
    <h1> [about section] </h1>
  </div>
  <OurMission />
</section>
