---
import "../../styles/global.css";
import EventsComp from "../EventsComp.astro";
---

<section
  class="relative w-full h-screen flex items-center justify-center text-center text-white bg-cover bg-center"
>
  <div class="z-10">
    <EventsComp />
  </div>
</section>
