---
import "../../styles/global.css";
---
<section
  class="relative w-full h-screen flex items-center justify-center text-center text-white bg-cover bg-center"
>
  <div class="max-w-lg z-10">
    <h1> [Metrics Section] </h1>
  </div>
</section>
